{% extends "base.html" %}

{% load static %}
{% block title%}
{{free_post.title}} | DeThatBit
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'free_board/free_board.css' %}" media="screen" />
{% endblock %}

{% block contents%}
<div class="content">
    <h1><a href="/free/">FreeBoard</a></h1>
    <div class="contentBox">
        <div class="contentBox_header">
            <div class="header_info">
                <h2 class="title">{{free_post.title}}</h2>
                <h5 class="author">{{free_post.author.username}}</h5>
            </div>
            <div class="updateBtns">
                <button onclick="location.href='/free/{{free_post.pk}}/update/'">Modify</button>
                <button onclick="alert_del(); location.href='/free/{{free_post.pk}}/delete/'">Delete</button>
            </div>
        </div>
        <div class="contentBox_body">
            <p>{{free_post.content| linebreaks}}</p>
        </div>
        <!--좋아요 부분-->
        <div class="like_wrapper">
            <button class="like" name="{{free_post.pk}}" value="추천">추천</button>
            <p id="count-{{free_post.pk}}"> 🙏🏻 {{free_post.likes.all.count}}개</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(".like").click(function () {
            const pk = $(this).attr('name')
            $.ajax({
                type: "POST",
                url: "{% url 'free_post_like' %}",
                data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: "json",
                success: function (response) {
                    alert(response.message);
                    $("#count-" + pk).html("좋아요&nbsp;" + response.likes_cnt + "개");
                },
                error: function (request, status, error) {
                    alert("로그인이 필요합니다")
                    window.location.replace("")
                },
            });
        })
    </script>

    <!--comment 부분-->
    <div class="commentBox">
        <div class="comment">
            {% if free_post.free_comment_set.count > 0 %}
            {% for comment in free_post.free_comment_set.all %}
            <div id="comment-{{comment.pk}}" class="cm_row">
                <div class="comment_box comment_box-{{comment.pk}}">
                    <span class="cm_writer">{{ comment.writer }}</span>
                    <p class="cm_text">{{ comment.text | linebreaks }}</p>
                    <small class="cm_time">
                        <div>{{ comment.created_at.month }}/{{ comment.created_at.day }}</div>{{comment.created_at.hour}}:{{comment.created_at.minute }}
                    </small>
                    {% if user.id == comment.writer.id%}
                    <ul class="cm_btns">
                        <li><button class="comment-modify-{{comment.pk}}" name="try-edit"
                                value="{{comment.pk}}">Modify</button></li>
                        <li><button onclick="location.href='/free/comment_delete/{{comment.pk}}/'">
                                Delete
                            </button></li>
                    </ul>
                    {% endif %}
                </div>
                <div class="comment-edit-form-{{comment.pk}} comment-edit-form hidden">
                    <form action="/free/comment_update/{{comment.pk}}/" method="POST">
                        {% csrf_token %}
                        {{comment_form}}
                        <button class="btn btn-info mt-3" type="submit"> Submit </button>
                    </form>
                    <button class="comment-edit-back" name="edit-back" value="{{comment.pk}}"> Back </button>
                </div>
            </div>
            {% endfor%}
            {% else %}
            <h1>댓글 없음</h1>
            {% endif %}
        </div>
        <div class="comment_form">
            <form action="/free/{{free_post.pk}}/comment_create/" method="POST">
                {% csrf_token %}
                {{comment_form}}
                <button class="btn btn-info mt-3 submitBtn" type="submit"> Submit </button>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'free_board/comment_edit.js' %}"></script>
<script>
    function alert_del() {
        alert("삭제하시겠습니까?");
    }
    function isAuthor() {
        if ("{{free_post.author.id}}" != "{{user.id}}") {
            const btns = document.querySelector(".updateBtns");
            btns.classList.add("hidden");
        }
    }
    isAuthor();

</script>
{% endblock %}