<html>
{% load static %}
<title>{{free_post.title}}</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="{% static 'free_board/free_board.css' %}" media="screen" />
<link rel="icon" type="image/png" href="{% static 'img/favicon.ico'%}">

</head>

<body>
    <div class="home"><a href="/">DeThatBit</a></div>
    <div class="content">
        
        <h1><a href="/free/">FreeBoard</a></h1>
        <div class="contentBox">
            <div class="contentBox_header">
                <h2>{{free_post.title}}</h2>

                <h5>{{free_post.author}}</h5>

            </div>
            <div class="contentBox_body">
                <p>{{free_post.content}}</p>
            </div>
        </div>
    </div>

    <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; 
            <i class="fas fa-file-signature"></i>  
            SEOSUNGHAN
          </p>
        </div>
        <!-- /.container -->
    </footer>
</body>

</html>