{% extends "base.html" %}

{% load static %}
{% block title%}
{{free_post.title}} | DeThatBit
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'free_board/free_board.css' %}" media="screen" />
{% endblock %}

{% block contents%}
<div class="home"><a href="/">DeThatBit</a></div>
<div class="content">
    <h1><a href="/free/">FreeBoard</a></h1>
    <div class="contentBox">
        <div class="contentBox_header">
            <div class="updateBtns">
                <button><a href="/free/{{free_post.pk}}/update/">Modify</a></button>
                <button onclick="alert_del()"><a href="/free/{{free_post.pk}}/delete/">Delete</a></button>
            </div>
            <h2>{{free_post.title}}</h2>
            <h5>{{free_post.author.username}}</h5>

        </div>
        <div class="contentBox_body">
            <p>{{free_post.content}}</p>
        </div>
    </div>
</div>

<script>
    function alert_del() {
        alert("삭제하시겠습니까?");
    }
    function isAuthor() {
        if ("{{free_post.author.id}}" != "{{user.id}}") {
            const btns = document.querySelector(".updateBtns");
            btns.classList.add("hidden");
        }
    }
    isAuthor();
</script>
{% endblock %}
