{% extends "base.html" %}

{% load static %}
{% block title%}
New Post | DeThatBit
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'free_board/free_board.css' %}" media="screen" />
{% endblock %}

{% block contents%}
<div class="content">
    <h1><a href="/free/">FreeBoard</a></h1>
    <div class="contentBox_header"></div>
    <div class="contentBox_body">
        <div class="new_post my-5">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>{{form.as_table}}</table>
                <div class="editBtns">
                    <button class="btn btn-info mt-3" type="submit">Submit</button>
                    <button onclick="location.href='../'">Back</button>
                </div>
            </form>

        </div>
    </div>

</div>

{% endblock %}