<html>
    {% load static %}
<head>
    <title>Free Board | DeThatBit</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'free_board/free_board.css' %}" media="screen"/>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico'%}">
</head>

<body>
    <div class="home"><a href="/">DeThatBit</a></div>
    <div class="freeBoard">
        <h1><a href="/free/">FreeBoard</a></h1>
        <table>
            {%if free_post_list.exists%}
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    
                    <th>Writer</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {%for p in free_post_list%}
                <tr>
                    <td class="td_num">{{p.get_free_url}}</td>
                    <td class="td_title"><a href="{{p.get_free_url}}">{{p.title}}</a></td>
                    <!--<td class="td_content">{{p.content | truncatewords:30}}</td>-->

                    <td class="td_writer">{{p.author}}</td>

                    <td class="td_time">{{p.created_at}}</td>
                </tr>
                {%endfor%}
            </tbody>
            {%else%}
            <tr>No Content</tr>
            {%endif%}
        </table>
    </div>
    <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; 
            <i class="fas fa-file-signature"></i>  
            SEOSUNGHAN
          </p>
        </div>
        <!-- /.container -->
    </footer>
</body>

</html>