html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  border: transparent;
  border-radius: 3px;
}
.loginBtns {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0px;
  right: 10px;
}
.loginBtns p {
  color: white;
  padding: 3px 2px 3px 2px;
}
.username {
  font-weight: 700;
}
.loginBtns button {
  border: transparent;
  background-color: rgb(61, 57, 57);
  margin: 15px 20px;
  padding: 3px 2px 3px 2px;
  cursor: pointer;
}
.loginBtns button:hover {
  background-color: rgb(100, 94, 94);
  color: white;
}
.loginBtns a {
  color: white;
}
.nav_bar {
  display: flex;
  justify-content: center;

  margin: 0;
}
.nav_list {
  padding: 0px;
  margin: 0;

  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 4px -3px darkgray;
}
.nav_list li {
  padding: 2px 6px 2px 6px;
  margin: 0 20px 0 20px;
}
footer {
  margin: 0 auto;
  text-align: center;
}
.hidden {
  display: none;
}
a {
  text-decoration: none;
  color: black;
}
.home {
  background-color: black;
  padding: 20px 0px;
  margin: 0px auto 0px auto;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}
.home a {
  color: white;
}
