.home{
  padding: 50px;
  font-size: 80px;
}
.homeBox {
  background-color: rgb(224, 220, 220);
  margin: 10px auto;
  width: 1200px;
  height: 650px;
}
.homeBox img {
  height: 100%;
  width: 100%;
}
