.home {
  padding: 50px;
}
.home a {
  font-size: 80px;
}
.homeBox {
  background-color: rgb(224, 220, 220);
  margin: 10px auto;
  width: 1200px;
  height: 650px;
}
.homeBox img {
  height: 100%;
  width: 100%;
}
/*sign_up*/

.signUpBox {
  margin: 100px auto;
  text-align: center;
  width: 400px;
  height: 300px;
}
.signUpForm {
  text-align: left;
}
