.nav_review {
  background-color: black;
}
.nav_review a {
  color: white;
}

.reviewBoard {
  text-align: center;
  width: 800px;
  margin: 50px auto 20px auto;
  border: solid black 2px;
  border-radius: 15px;
  padding: 0px 10px;
}
.review_header {
  display: flex;
  justify-content: space-between;
}
.reviewboard h1 {
  text-align: left;
}
.review_header .search_album {
  display: flex;
  align-items: flex-end;
}
.review_header .search_album form {
  margin-bottom: 10px;
}
.table_wrapper {
  width: 800px;
  margin: 0px auto 0px auto;
  background-color: white;
  box-shadow: 0px 0px 3px 2px white;
  border-radius: 5px;
}
.reviewBoard table {
  width: 800px;
  margin: 0px auto 0px auto;
  background-color: white;
  box-shadow: 0px 0px 3px 2px white;
  border-radius: 5px;
}
table tr {
  border-bottom: solid black 50px;
}
table tbody tr {
  padding-bottom: 50px;
  border-bottom: solid red 50px;
}
table tr th {
  border-bottom: solid black 1px;
  text-align: left;
}
table tr td {
  padding-top: 15px;
  padding-bottom: 3px;
  border-bottom: solid black 1px;
}
.th_num {
  width: 50px;
  padding-right: 0px;
}
.th_title {
  width: 500px;
  padding-right: 50px;
}
.th_writer {
  width: 80px;
  padding-right: 0px;
}
.th_time {
  width: 80px;
  font-size: 13px;
  padding-right: 0px;
}
.td_comment_num {
  color: red;
  font-size: 14px;
}
.create_btn {
  display: flex;
  justify-content: flex-end;
  border: transparent;
  margin: 10px 92%;
  padding: 5px 3px 5px 3px;
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}
.create_btn:hover {
  background-color: black;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
  color: white;
  animation: fadeIn 0.5s linear;
}
.wrapper_paginations {
  text-align: center;
}
.paginations {
  display: flex;
  justify-content: center;
  padding: 0px;
}
.paginations button {
  margin: 10px;
  padding: 10px 15px;
}

/*detail.html*/
.content {
  text-align: center;
  width: 600px;
  margin: 50px auto 10px auto;
  border: solid black 2px;
  border-radius: 15px;
  padding: 0px 10px;
}
.content h1 {
  font-size: 20px;
  text-align: left;
}
.contentBox {
  width: 580px;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 0px 0px 3px 2px white;
  background-color: white;
  border-radius: 10px;
}
.contentBox_header {
  display: flex;
  justify-content: space-between;
  text-align: left;
  border-bottom: black dashed 2px;
}
.contentBox_header .updateBtns {
  text-align: right;
  margin-right: 5px;
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}
.title_album_name {
  font-size: 15px;
  color: rgb(116, 113, 113);
}
.title_title {
  font-size: 30px;
}
.updateBtns button {
  margin-bottom: 5px;
}
.updateBtns button:hover {
  background-color: black;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
  color: white;
  animation: fadeIn 0.5s linear;
}
.contentBox_header .title {
  font-size: 35px;
  width: 500px;
  margin: 5px 0px;
  overflow: hidden;
  word-wrap: break-word;
}
.contentBox_header .author {
  margin: 0px 0px 20px 0px;
}
.contentBox_body {
  text-align: left;
  margin-top: 10px;
  padding: 0;
}
.contentBox p {
  overflow: hidden;
  word-wrap: break-word;
}
.album_info {
  display: flex;
}
.album_info img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px gray;
}
.album_info_spec {
  margin-left: 10px;
}
.album_info_spec div {
  margin-bottom: 3px;
}
.album_info_spec_artist,
.album_info_spec_date {
  font-size: 13px;
}
.album_info_spec_rate {
  font-size: 20px;
}

/*Comment*/
.commentBox {
  text-align: center;
  width: 580px;
  margin: 10px auto;
  background-color: white;
  box-shadow: 0px 0px 3px 2px white;
  padding: 10px;
  border-radius: 10px;
}
.comment {
  border-radius: 10px;
}
.comment_box {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}
textarea#id_text {
  margin: 10px;
  width: 450px;
  height: 70px;
  border-radius: 5px;
}
.comment-edit-form {
  margin: 0 auto;
}
.comment_form textarea {
  margin: 10px;
  width: 450px;
  height: 70px;
  border-radius: 5px;
}
.cm_row {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1 10px;
  border-bottom: 1px dotted black;
}
.cm_writer {
  width: 75px;
  font-size: 13px;
  font-weight: 600;
}
.cm_row p:nth-child(3) {
  width: 390px;
  text-align: left;
}
.cm_time {
  width: 50px;
}
.cm_btns {
  position: sticky;
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

ul {
  margin: 5px;
  list-style: none;
}
.cm_btns button {
  font-size: 10px;
  margin: 2px;
}
.cm_btns li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button:hover {
  background-color: black;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
  color: white;
  animation: fadeIn 0.5s linear;
}
.showing {
  display: block;
}
.unshowing {
  display: none;
}
.hidden {
  display: none;
}
.like_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.like_wrapper .like {
  font-size: 13px;
  padding: 3px 7px;
  margin-right: 20px;
}
.like_wrapper p {
  margin: 2px 0px;
  font-size: 13px;
}
/*edit.html*/
.new_post {
  background-color: white;
  text-align: center;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px 0px 0px 0px;
  box-shadow: 0px 0px 3px 2px white;
}
.contentBox_body {
  padding: 0;
}
.new_post table {
  margin: 0;
  width: 600px;
}
.new_post form {
  margin: 0;
}
.new_post table th {
  margin: 0;
  width: 75px;
  border-bottom: transparent;
  padding: 10px 0;
  text-align: center;
}
.new_post table td {
  border-bottom: transparent;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.new_post table tr {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: dashed 1px;
  padding: 0;
}
textarea#id_content {
  width: 500px;
  height: 400px;
}
input#id_title {
  margin: auto 0px;
  width: 300px;
}
.editBtns {
  padding: 5px;
}
p#album {
  margin: 0;
  padding: 0;
}
p#album > ul {
  display: flex;
}
p#album li {
  margin: 1px 2px;
}
.review_rating_warpper {
  display: flex;
  border-bottom: black dashed 1px;
}
.review_rating {
  display: flex;
}
.rating_title {
  width: 75px;
  font-size: 16px;
}
.rating {
  display: flex;
  align-items: center;
}
.rating .rate_radio {
  display: none;
}
.rating .rate_radio + label {
  position: relative;
  display: block;
  float: left;
  width: 15px;
  height: 30px;
  background-image: url("/static/img/starrate.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;

  cursor: pointer;
}
.rating .rate_radio_right + label {
  background-image: url("/static/img/starrate_right.png");
  width: 15px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 15px 30px;
}
.fill_background {
  background-color: rgb(238, 234, 234);
  height: 30px;
  width: 150px;
}
.rating .ratefill {
  background-color: gold;
  width: 0;
  height: 30px;
  position: absolute;
}
.editBtns {
  padding: 5px;
}
.album_warning,
.rating_warning {
  font-size: 12px;
  color: red;
}
.rating_warning {
  margin-left: 10px;
  line-height: 50px;
}
