{% extends "base.html" %}

{% load static %}
{% block title%}
{{review_post.title}} | DeThatBit
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'review_board/review_board.css' %}" media="screen" />
{% endblock %}

{% block contents%}
<div class="content">
        
    <h1><a href="/review/">Review Board</a></h1>
    <div class="contentBox">
        <div class="updateBtns">
            <button><a href="/review/{{review_post.pk}}/update/">Modify</a></button>
            <button onclick="alert_del()"><a href="/review/{{review_post.pk}}/delete/">Delete</a></button>
        </div>
        <div class="contentBox_header">
            <img src="{{ review_post.album.cover }}">
            <h2>{{review_post.title}}</h2>
            <h3>{{review_post.album.album}}</h3>
            <h4>{{review_post.rating}}</h4>
            <h5>{{review_post.author}}</h5>
        </div>
        <div class="contentBox_body">
            <p>{{review_post.content}}</p>
        </div>
    </div>
</div>
<script>
    function alert_del() {
        alert("삭제하시겠습니까?");
    }
    function isAuthor() {
        if ("{{review_post.author.id}}" != "{{user.id}}") {
            const btns = document.querySelector(".updateBtns");
            btns.classList.add("hidden");
        }
    }
    isAuthor();
</script>
{% endblock %}

