{% extends "base.html" %}

{% load static %}
{% block title%}
New Post | DeThatBit
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'review_board/review_board.css' %}" media="screen" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
{% endblock %}

{% block contents%}
<div class="content">
    <h1><a href="/free/">ReviewBoard</a></h1>
    <div class="contentBox_header"></div>
    <div class="contentBox_body">
        <div class="new_post my-5">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <input type="text" class="album-select" name="album" placeholder="Album_Search" value="{{album}}">
                    <p id="album"></p>
                    {%if album_error %}
                    <span class="album_warning">🙏🏻 앨범을 정확히 선택하시기 바랍니다.</span>
                    {% endif %}
                </div>
                <table>{{form.as_table}}</table>
                <div class="review_rating_warpper">
                    <h3 class="rating_title">Rating:</h3>
                    <div class="review_rating rating_point">
                        <div class="rating">
                            <div class="fill_background">
                                <div class="ratefill"></div>
                                <!-- [D] 해당 별점이 선택될 때 그 점수 이하의 input엘리먼트에 checked 클래스 추가 -->
                                <input type="checkbox" name="rating" id="rating1" value="1" class="rate_radio"
                                    title="1점">
                                <label for="rating1"></label>
                                <input type="checkbox" name="rating" id="rating2" value="2"
                                    class="rate_radio rate_radio_right" title="2점">
                                <label for="rating2"></label>
                                <input type="checkbox" name="rating" id="rating3" value="3" class="rate_radio"
                                    title="3점">
                                <label for="rating3"></label>
                                <input type="checkbox" name="rating" id="rating4" value="4"
                                    class="rate_radio rate_radio_right" title="4점">
                                <label for="rating4"></label>
                                <input type="checkbox" name="rating" id="rating5" value="5" class="rate_radio"
                                    title="5점">
                                <label for="rating5"></label>
                                <input type="checkbox" name="rating" id="rating6" value="6"
                                    class="rate_radio rate_radio_right" title="1점">
                                <label for="rating6"></label>
                                <input type="checkbox" name="rating" id="rating7" value="7" class="rate_radio"
                                    title="2점">
                                <label for="rating7"></label>
                                <input type="checkbox" name="rating" id="rating8" value="8"
                                    class="rate_radio rate_radio_right" title="3점">
                                <label for="rating8"></label>
                                <input type="checkbox" name="rating" id="rating9" value="9" class="rate_radio"
                                    title="4점">
                                <label for="rating9"></label>
                                <input type="checkbox" name="rating" id="rating10" value="10"
                                    class="rate_radio rate_radio_right" title="5점">
                                <label for="rating10"></label>
                            </div>
                        </div>
                        <span class="rating_val hidden">{{rating}}</span>
                    </div>
                    {% if rating_error %}
                    <span class="rating_warning">🙏🏻 별점을 선택하시기 바랍니다.</span>
                    {% endif %}
                </div>
                <div class="editBtns">
                    <button class="btn btn-info mt-3" type="submit" onclick="check_error();">Submit</button>
                    <button onclick="location.href='../'">Back</button>
                    {{album_error}}
                </div>
            </form>

            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

            <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', function () {
                    //별점선택 이벤트 리스너
                    rating_val = document.querySelector(".rating_val").innerText;
                    rating.setRate(2 * parseFloat(rating_val));
                    document.querySelector('.rating').addEventListener('click', function (e) {
                        let elem = e.target;
                        if (elem.classList.contains('rate_radio')) {
                            console.log("elam.value=", elem.value);
                            rating.setRate(parseInt(elem.value));
                        }
                    })
                });
                function Rating() { };
                Rating.prototype.rate = 0;
                Rating.prototype.setRate = function (newrate) {
                    //별점 마킹 - 클릭한 별 이하 모든 별 체크 처리
                    //console.log(typeof(newrate));

                    this.rate = newrate;
                    //console.log(newrate);
                    document.querySelector('.ratefill').style.width = parseInt(newrate * 15) + 'px';
                    let items = document.querySelectorAll('.rate_radio');
                    items.forEach(function (item, idx) {
                        if (idx < newrate) {
                            item.checked = true;
                        } else {
                            item.checked = false;
                        }

                    });
                }

                let rating = new Rating();
                console.log(rating.rate)


                let tmp = location.href.split('?')

                if (tmp.length > 1) {
                    console.log(tmp[1])
                    let tmp1 = tmp[1].split(':')
                    console.log(tmp1[1])
                    document.getElementsByClassName("album-select")[0].value = tmp1[1]
                }

                let old = ""

                function albumClick(e) {
                    e.preventDefault()
                    //console.log(e.target.innerText)

                    document.getElementsByClassName("album-select")[0].value = e.target.innerText
                    //console.log(k)
                }

                $(".album-select").on("propertychange change keyup paste input", function () {
                    const now = $(this).val();
                    if (now == "") {
                        return;
                    }
                    if (now == old) {
                        return;
                    }
                    //console.log(now)
                    // 여기까진 값이 바뀔때마다 인식하는 부분
                    const reset = document.getElementById('album-list')
                    console.log("지운거", reset)
                    if (reset) {
                        document.getElementById('album').removeChild(reset)
                    }
                    $.ajax({
                        type: "POST",
                        url: "{% url 'album_select' %}",
                        data: { 'q': now, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                        dataType: "json",
                        success: function (response) {
                            if (now !== $(".album-select").val()) {
                                return
                            }
                            if (response.album_select == "") {
                                return
                            }
                            album_select = response.album_select.split('\n')
                            let list = document.createElement('ul')
                            list.id = "album-list"
                            album_select.forEach(element => {
                                //console.log(element)
                                let li = document.createElement('li')
                                let btn = document.createElement('button')
                                btn.innerText = element
                                btn.addEventListener("click", albumClick)
                                li.appendChild(btn)
                                list.appendChild(li)
                            });
                            console.log(list)
                            document.getElementById('album').appendChild(list);
                            //$("#album").html(response.album_select);
                            //console.log(album_select)
                        },
                        error: function (request, status, error) {
                            alert("Fail")
                            window.location.replace("")
                        },
                    });
                    old = now
                })
            </script>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
    function check_error(seq){
        console.log({album_error});
        if ({album_error}){
            Swal.fire({
            title: 'Wrong album and rating',
            text: "앨범을 정확히 선택해주시기 바랍니다.",
            icon: 'warning',
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '삭제'
            });
        }
        else if(album_error){
            Swal.fire({
                title: 'Wrong Album',
                text: "앨범을 정확히 선택해주시기 바랍니다.",
                icon: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
            });
        }
        else if (rating_error){
            Swal.fire({
                title: 'No Rating',
                text: "앨범을 정확히 선택해주시기 바랍니다.",
                icon: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
            });
        }
	}
    function no_album(seq){
		Swal.fire({
		  title: 'Wrong album',
		  text: "앨범을 정확히 선택해주시기 바랍니다.",
		  icon: 'warning',
		  showCancelButton: true,
		  confirmButtonColor: '#3085d6',
		  cancelButtonColor: '#d33',
		  confirmButtonText: '삭제',
		  cancelButtonText: '취소'
		}).then((result) => {
		  if (result.value) {
              //"삭제" 버튼을 눌렀을 때 작업할 내용을 이곳에 넣어주면 된다. 
		  }
		})
	}
    function no_rating(seq){
		Swal.fire({
		  title: 'No rating',
		  text: "별점을 선택해주시기 바랍니다.",
		  icon: 'warning',
		  showCancelButton: true,
		  confirmButtonColor: '#3085d6',
		  cancelButtonColor: '#d33',
		  confirmButtonText: '삭제',
		  cancelButtonText: '취소'
		}).then((result) => {
		  if (result.value) {
              //"삭제" 버튼을 눌렀을 때 작업할 내용을 이곳에 넣어주면 된다. 
		  }
		})
	}
</script>
{% endblock %}