{% extends "base.html" %}

{% load static %}
{% block title%}
Review Board | DeThatBit
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'review_board/review_board.css' %}" media="screen"/>
{% endblock %}

{% block contents%}
<div class="reviewBoard">
    <h1><a href="/review/">ReviewBoard</a></h1>
    <table>
        {%if review_post_list.exists%}
        <thead>
            <tr>
                <th class="th_num">#</th>
                <th class="th_title">Title</th>
                <th class="th_writer">Writer</th>
                <th class="th_time">Time</th>
            </tr>
        </thead>
        <tbody>
            {%for p in review_post_list%}
            <tr>
                <td class="td_num">{{p.pk}}</td>
                <td class="td_title"><a href="{{p.get_review_url}}">[{{p.album.album}}] {{p.title}}</a></td>
                <!--<td class="td_content">{{p.content | truncatewords:30}}</td>-->

                <td class="td_writer">{{p.author.username}}</td>

                <td class="td_time">
                    <div class="td_time_date">{{p.created_at.year}}. {{p.created_at.month}}. {{p.created_at.day}}.</div>
                    <div class="td_time_time">{{p.created_at.hour}}:{{p.created_at.minute}}</div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
        {%else%}
        <tr>No Content</tr>
        {%endif%}
    </table>
    <button class="create_btn" onclick="location.href='/review/create/'">Create</a></button>
</div>
<div class="wrapper_paginations">
    {% if is_paginated %}
    <ul class="paginations">
        <li class="page-item">
            <button onclick="location.href='?page=1'">
                << </button>
        </li>
        {% if start_page %}
        <li class="page-item">
            <button onclick="location.href='?page={{start_page}}'">
                < </button>
        </li>
        {% endif %}
        {% for page in page_range %}
        <li class="page-item">
            <button onclick="location.href='?page={{ page }}'">{{ page }}</button>
        </li>
        {% endfor %}
        {% if last_page < page_obj.paginator.num_pages %} <li class="page-item">
            <button onclick="location.href='?page={{ last_page|add:1 }}'">></button>
            </li>
            {% endif %}
            <li class="page-item">
                <button onclick="location.href='?page={{ page_obj.paginator.num_pages }}'">>></button>
            </li>
    </ul>
    {% endif %}
</div>
<script>
    function setTime(){
        const postDate = document.querySelectorAll(".td_time_date");
        const postTime = document.querySelectorAll(".td_time_time");
        const nowDate = new Date();
        const toDay = nowDate.toLocaleDateString();
        
        for (let i=0; i<postDate.length; i++){
            const postDateText = postDate[i].innerHTML;
            if (postDateText === toDay){
                postDate[i].classList.add("hidden");
            }
            else{
                postTime[i].classList.add("hidden");
            }
        }
    }
    setTime();
</script>
{% endblock %}