<!DOCTYPE html>
<html lang="ko">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>About | DeThatBit</title>
    <link rel="stylesheet" href="{% static 'single_pages/about.css' %}" media="screen"/>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico'%}">
</head>

<body>
    <div class="home"><a href="/">DeThatBit</a></div>
    <div class="about">
        <h1>ABOUT</h1>
        <h2>DeThatBit</h2>
        <span>
          DeThatBit은 국내외 흑인 음악을 전문적으로 다루는 음악/컬처/라이프
          플랫폼이자 콘텐츠 제작 미디어입니다. 흑인 음악 뉴스, 매거진, 미디어를
          비롯한 각종 정보를 제공하며, 이를 토대로 서로의 생각을 공유할 수 있는
          커뮤니티 기능도 겸하고 있습니다. DeThatBit은 데스크탑, 노트북, 스마트폰
          등 어떠한 디지털 환경에서도 편리하게 이용할 수 있는 양질의 콘텐츠를
          제작하고 있으며, 다양한 의견 교류와 커뮤니케이션을 위한 환경을 구축하고
          있습니다.
        </span>
        <h2>CONTACT</h2>
        <span>👉🏻yds04089@naver.com</span>
      </div>
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; 
            <i class="fas fa-file-signature"></i>  
            SEOSUNGHAN
          </p>
        </div>
        <!-- /.container -->
    </footer>
</body>

</html>