{% extends "base.html" %}

{% load static %}
{% block title%}
DeThatBit
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'single_pages/style.css' %}" media="screen" />
{% endblock %}

{% block contents %}
<div class="landingBox">
    <div class="landing_albums">
        <h1>Recent Albums</h1>
        <li class="landing_albumList">
            {% for a in album %}
            <ul>
                <img class="album_cover" src="{{a.cover}}" alt="{{a.album}}">
            </ul>
            {% endfor %}
        </li>
    </div>
    <div class="landing_board">
        <div class="landing_free_board">
            <h1><a href="/free/">FreeBoard</a></h1>
            <table>
                <thead>
                    <tr>
                        <th class="th_num">#</th>
                        <th class="th_title">Title</th>
                        <th class="th_writer">Writer</th>
                        <th class="th_time">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in free %}
                    <tr>
                      <td class="td_num">{{f.pk}}</td>
                      <td class="td_title"><a href="/free/{{f.pk}}">{{f.title}}</a></td>
                      <td class="td_writer">{{f.author}}</td>
                      <td class="td_time">
                          <div class="td_time_date">{{f.created_at.month}}. {{f.created_at.day}}.</div>
                          <div class="td_time_time">{{f.created_at.hour}}:{{f.created_at.minute}}</div>
                      </td>
                    </tr>
                    {% endfor %}  
                </tbody>
            </table>
        </div>
        <div class="landing_review_board">
            <h1><a href="/review/">ReviewBoard</a></h1>
            <table>
                <thead>
                    <tr>
                        <th class="th_num">#</th>
                        <th class="th_title">Title</th>
                        <th class="th_writer">Writer</th>
                        <th class="th_time">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in review %}
                    <tr>
                        <td class="td_num">{{r.pk}}</td>
                        <td class="td_title"><a href="/review/{{r.pk}}">[{{r.album.album}}]{{r.title}}</a></td>
                        <td class="td_writer">{{r.author}}</td>
                        <td class="td_time">
                            <div class="td_time_date">{{r.created_at.month}}. {{r.created_at.day}}.</div>
                            <div class="td_time_time">{{r.created_at.hour}}:{{r.created_at.minute}}</div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

