{% extends "base.html" %}

{% load static %}
{% block title%}
DeThatBit
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'single_pages/style.css' %}" media="screen" />
{% endblock %}

{% block contents %}
<div class="landingBox">
    <div class="landing_albums">
        <h1>Recent Albums</h1>
        <li class="landing_albumList">
            <ul>
                <img class="album_cover" src="https://blog.kakaocdn.net/dn/SeRIx/btqyY2MhIPt/qLL3bznQuBCsrWTjotKicK/img.jpg" alt="albumname">
            </ul>
            <ul>
                <img class="album_cover" src="https://blog.kakaocdn.net/dn/SeRIx/btqyY2MhIPt/qLL3bznQuBCsrWTjotKicK/img.jpg" alt="albumname">
            </ul>
            <ul>
                <img class="album_cover" src="https://blog.kakaocdn.net/dn/SeRIx/btqyY2MhIPt/qLL3bznQuBCsrWTjotKicK/img.jpg" alt="albumname">
            </ul>
            <ul>
                <img class="album_cover" src="https://blog.kakaocdn.net/dn/SeRIx/btqyY2MhIPt/qLL3bznQuBCsrWTjotKicK/img.jpg" alt="albumname">
            </ul>
            <ul>
                <img class="album_cover" src="https://blog.kakaocdn.net/dn/SeRIx/btqyY2MhIPt/qLL3bznQuBCsrWTjotKicK/img.jpg" alt="albumname">
            </ul>
            <ul>
                <img class="album_cover" src="https://blog.kakaocdn.net/dn/SeRIx/btqyY2MhIPt/qLL3bznQuBCsrWTjotKicK/img.jpg" alt="albumname">
            </ul>
        </li>
    </div>
    <div class="landing_board">
        <div class="landing_free_board">
            <h1><a href="/free/">FreeBoard</a></h1>
            <table>
                <thead>
                    <tr>
                        <th class="th_num">#</th>
                        <th class="th_title">Title</th>
                        <th class="th_writer">Writer</th>
                        <th class="th_time">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td_num">1</td>
                        <td class="td_title"><a href="https://www.naver.com">[albumname] title</a></td>
                        <td class="td_writer">writer</td>
                        <td class="td_time">
                            <div class="td_time_date">날짜</div>
                            <div class="td_time_time">시간</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_num">1</td>
                        <td class="td_title"><a href="https://www.naver.com">[albumname] title</a></td>
                        <td class="td_writer">writer</td>
                        <td class="td_time">
                            <div class="td_time_date">날짜</div>
                            <div class="td_time_time">시간</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_num">1</td>
                        <td class="td_title"><a href="https://www.naver.com">[albumname] title</a></td>
                        <td class="td_writer">writer</td>
                        <td class="td_time">
                            <div class="td_time_date">날짜</div>
                            <div class="td_time_time">시간</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="landing_review_board">
            <h1><a href="/review/">ReviewBoard</a></h1>
            <table>
                <thead>
                    <tr>
                        <th class="th_num">#</th>
                        <th class="th_title">Title</th>
                        <th class="th_writer">Writer</th>
                        <th class="th_time">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td_num">1</td>
                        <td class="td_title"><a href="https://www.naver.com">[albumname] title</a></td>
                        <td class="td_writer">writer</td>
                        <td class="td_time">
                            <div class="td_time_date">날짜</div>
                            <div class="td_time_time">시간</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_num">1</td>
                        <td class="td_title"><a href="https://www.naver.com">[albumname] title</a></td>
                        <td class="td_writer">writer</td>
                        <td class="td_time">
                            <div class="td_time_date">날짜</div>
                            <div class="td_time_time">시간</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_num">1</td>
                        <td class="td_title"><a href="https://www.naver.com">[albumname] title</a></td>
                        <td class="td_writer">writer</td>
                        <td class="td_time">
                            <div class="td_time_date">날짜</div>
                            <div class="td_time_time">시간</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

