<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Landing Pages</title>
    <link rel="stylesheet" href="{% static 'single_pages/style.css' %}" media="screen"/>
</head>
<body>
    <div class="loginBtns">
        {% if user.is_active %}
        <p>Welcome {{ user.username }}</p>
        <a href="accounts/logout/">LogOut</a>
        {% else %}
        <a href="accounts/login/">Login</a>
        <a href="/sign_up/">Join</a>
        {% endif %}
    </div>
    <h1>DeThatBit</h1>
    <ul class="nav">
        <li>About</li>
        <li>Album</li>
        <li>Artists</li>
        <li>Freeboard</li>
        <li>Review</li>
    </ul>
    <div class="homeBox">
        <img src="https://t3.ftcdn.net/jpg/02/81/66/20/240_F_281662026_5WLYXaos1hSWDPHEWeP89Yr5NEpGP13K.jpg" alt="hiphop image">
    </div>
</body>
</html>