.nav_free {
  background-color: black;
}
.nav_free a {
  color: white;
}

.freeBoard {
  text-align: center;
  width: 900px;
  margin: 0px auto;
  background-color: aliceblue;
}
table {
  width: 900px;
  margin: 10px auto 0px auto;
  background-color: antiquewhite;
}
table tr {
  border-bottom: solid black 1px;
}
table tr th {
  border-bottom: solid black 1px;
  text-align: left;
}
table tr td {
  padding: 5px;
  padding-bottom: 3px;
}
.td_num {
  padding-right: 10px;
}
.td_title {
  padding-right: 30px;
}
.td_writer {
  padding-right: 20px;
}
.create_btn {
  display: flex;
  justify-content: flex-end;
  border: transparent;
  margin: 10px 92%;
  padding: 5px 3px 5px 3px;
  cursor: pointer;
}

/*detail.html*/
.content {
  text-align: center;
  background-color: aliceblue;
}
.contentBox {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border: solid 1px black;
  background-color: antiquewhite;
}
.contentBox_header {
  padding-left: 20px;
  text-align: left;
  border: solid 2px brown;
}
.contentBox_body {
  text-align: left;
  padding: 0px 20px 0px 20px;
}
.showing {
  display:block;
}
.unshowing {
  display:none;
}

/*edit.html*/
.new_post {
  background-color: aliceblue;
  text-align: center;
  margin: 0 auto;
}
p {
  color: darkgreen;
}
